.Rproj.user
.Rhistory
.RData
.Ruserdata
services/shiny-proxy/env.txt
notes.md
.idea
man
.Rapp.history
dev/
_dev.R
app/www/.bio-images/
TODO.md
secrets.txt
.aws
*.pyc
.env
db/.*
temp-dir-jpg/
.venv
.dog-head-detector.dat
