.description {
  font-size: 1rem;
}

.nav.nav-pills.nav-pills-circle.mb-3 {
  margin-bottom: 0px !important;
}

.card-body {
  text-align: start !important;
}

.pr-4, .px-4 {
  padding: 1.5rem !important;
}

.navbar-brand {
  color: #fff !important;
}

.nav-pills .nav-link {
  margin-bottom: .75rem;
  margin-top: .75rem;
  border-radius: .375rem;
}

.nav-wrapper {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

#sidenav-collapse-main {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

#button-addon2 {
  border-width: 1px !important;
}

#in_dog_name {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.form-group.shiny-input-container {
  width: auto;
  margin-bottom: 0.75rem;
}

.btn.dropdown-toggle.btn-light {
  background-color: #5e72e4;
}

.bg-gradient-warning {
  background-image: linear-gradient(310deg, #fb6340, #fbb140)
}

.customize {
  background-image: linear-gradient(310deg, rgb(17, 113, 239), rgb(17, 205, 239));
  color: #fff;
}

.customize-pill {
  padding: .875em;
  margin-bottom: 1em;
}

#tab-precomputed_tab, #tab-on_demand_tab {
  max-width: 150px;
}

.radio-success input[type="radio"]:checked+label::after {
  background-color: #5e72e4 !important;
  border-color: #5e72e4 !important;
}

.radio-success input[type="radio"]:checked+label::before {
  background-color: #5e72e4 !important;
  border-color: #5e72e4 !important;
}

.control-label {
  display: block !important;
  font-weight: 600;
}

.modal-body .btn.dropdown-toggle.btn-light {
  background-color: #fff;
  color: rgb(82, 95, 127);
  font-weight: 400;
  font-size: .875rem
}

.modal-body .form-group.shiny-input-container {
  margin-bottom: 1.2rem;
}

.awesome-radio label {
  font-weight: 300 !important;
}

.modal-title {
  font-size: 1rem !important;
  font-weight: 800;
}

.modal-header {
  padding-bottom: 0rem !important;
}

/*
#run_cust {
  background-color: #fb6340;
}


button[data-dismiss="modal"] {
  color: #172b4d;
  border-color: #172b4d;
  background-color: transparent;
  background-image: none;
  border-width: 1px;
}
*/
