name: Build, test, and push app image

on:
  workflow_dispatch:
    inputs:
      deps_sha:
        description: 'Commit SHA tag referencing the deps image to use'
        type: string
        default: 'latest'
      app_sha:
        description: 'Commit SHA to build the app image off of'
        required: true
        type: string

permissions:
  contents: write

jobs:
  build-test-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Echo inputs
      run: |
        echo ${{ inputs.deps_sha }}
        echo ${{ inputs.app_sha }}

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true

    - name: Checkout
      run: |
        git checkout ${{ inputs.app_sha }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to the Github CR
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.CR_PAT }}

    - name: Set version and git sha envvars
      run: |
        # Get the most recent deps-built-* tag SHA (single line only)
        LATEST_DEP_SHA=$(git for-each-ref --count=1 --sort=-taggerdate --format="%(objectname:short)" "refs/tags/deps-built-*")
        [ ${{ inputs.deps_sha }} == 'latest' ] && DEPS_SHA=$LATEST_DEP_SHA || DEPS_SHA=${{ inputs.deps_sha }}
        echo "DEPS_SHA=$DEPS_SHA" >> $GITHUB_ENV
        echo "$DEPS_SHA"
        VERSION=$(head -n 1 version.txt)
        echo "$VERSION"
        echo "VERSION=$VERSION" >> $GITHUB_ENV

    - name: Build Docker Image
      run: |
        docker build --build-arg DEPS_SHA=$DEPS_SHA -t ghcr.io/crew102/bb-app:${{ inputs.app_sha }} --no-cache -f app/Dockerfile .
        docker tag ghcr.io/crew102/bb-app:${{ inputs.app_sha }} ghcr.io/crew102/bb-app:${{ env.VERSION }}
        docker tag ghcr.io/crew102/bb-app:${{ inputs.app_sha }} ghcr.io/crew102/bb-app:latest

#    - name: Test Docker image
#      run: |
#        docker run --rm bb-app:latest echo "hi there"

    - name: Push Docker image
      run: |
        docker push ghcr.io/crew102/bb-app:${{ inputs.app_sha }}
        docker push ghcr.io/crew102/bb-app:${{ env.VERSION }}
        docker push ghcr.io/crew102/bb-app:latest
